{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Sticky footer with fixed navbar</h1>
</div>
<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>
<form
  id="search-form"
  action="/search"
  method="post"
>

  <label>
    Search<br>
    <input type="text" name="search">
  </label>

  <input type="submit" name="commit" value="Search!">
</form>
<div id='map' style='width: 500px'></div>

{{ restaraunts }}
{% endblock %}

{% block footer %}
<script type="text/javascript">

function initialize() {
  var mapOptions = {
    zoom: 8,
    center: new google.maps.LatLng(40.7678605,-73.9585667)
  };

  var map = new google.maps.Map(document.getElementById('map'),
      mapOptions);
      console.log('meow')
}

$('#search-form').submit(function(event){
  event.preventDefault();
  var $form = $(this);
  console.log('stugg')

  $.ajax({
    url: '/search',
    type: 'POST',
    data: $form.serialize(),
    success: function(data){
      console.log(data)

      initialize()
    }
  })

})
</script>

{% endblock %}